body{
     display:grid;
     grid-template-areas:
     "cabeca cabeca cabeca"
     "braco corpo corpo"
     "perna perna perna";
    grid-template-rows: 200px 600px 150px;
    grid-template-columns: 200px auto auto;
}

header{
     grid-area: cabeca;
     background-color: rgb(226, 238, 56);
}

aside{
    grid-area: braco;
    background-color: rgb(6, 148, 25);
}

main{
    grid-area: corpo;
    background-color: rgb(18, 48, 182);
}

footer{
    grid-area: perna;
    background-color: rgb(247, 4, 4);
}

.card{
    border: black 2px solid;
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 2opx;
}

.mae{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img_card{
    width: 300px;
    height: auto;
}

.texto_card{
    color: black;
    font-size: x-large;
}

.preco_car{
    color: black;
    font-size: xx-large;
}
    
    
    
    
    
    
    
